{{if .HxBoosted}}
<title hx-swap-oob="title">{{block "title" .}}{{end}}</title>
{{template "main-layout" .}}
{{else}}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/open-iconic/font/css/open-iconic-bootstrap.min.css">
    <link href="/css/BlazorApp.styles.css" rel="stylesheet" />
    <title>{{block "title" .}}{{end}}</title>
</head>
<body>
    <div id="main-layout">
        {{template "main-layout" .}}
    </div>
    <script src="/htmx1.9.6.min.js"></script>
</body>
</html>{{end}}