<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/open-iconic/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/MainLayout.css">
    <link rel="stylesheet" href="/css/NavMenu.css">
    <link href="/css/site.css" rel="stylesheet" />
    {{block "head" .}}{{end}}
</head>
<body>
    {{template "main-layout" .}}
</body>
</html>