@page
@{
    ViewData["Title"] = "About";
}

<p>I'm built with</p>
<a class="big-link"
    href="https://learn.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-6.0&tabs=visual-studio"
>ASP.NET core<br>
Razor Pages</a>
<a class="big-link" href="https://htmx.org/">HTMX</a>