@{
    ViewData["Title"] = "Weather forecast";
}

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<div id="tableHere">
    <em>Loading...</em>
</div>

<script type="module">
    const response = await fetch("/Forecasts");
    if (!response.ok) throw new Error(`Bad response: ${response.status}`);
    document.getElementById("tableHere").innerHTML = await response.text();
</script>

