@page "/about"

<PageTitle>About</PageTitle>

<style>
.big-link {
    display: block;
    font-size: x-large;
    text-decoration: none;
    text-align: center;
}
</style>

<p>I'm built with</p>
<a class="big-link"
    href="https://learn.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-6.0#blazor-server"
>ASP.NET core <br>
Blazor Server</a>