@{
    ViewData["Title"] = "Counter";
}

<h1>Counter</h1>

<p role="status">Current count: <span id="countSpan">0</span></p>

<button id="countBtn" class="btn btn-primary" onclick="onClick()">Click me</button>

<script type="module" src="/js/Counter.js"></script>
