@{
    ViewData["Title"] = "Weather forecast";
}

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<div id="tableHere">
    <em>Loading...</em>
</div>

<script type="module" src="/js/FetchData.js"></script>