@{
    ViewData["Title"] = "Index";
}

<h1>Hello, world!</h1>

Welcome to your new app.

<partial name="_SurveyPrompt" model='"How is Blazor working for you?"' />

<div id="ts-example">
    <br />
    <button id="dabutton" type="button" class="btn btn-primary btn-md">
        Click Me
    </button>
</div>

<script type="module" src="~/js/app.js"></script>
