@page
@{
    ViewData["Title"] = "Weather forecast";
}

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<p hx-trigger="load" hx-get="/forecasts" hx-swap="outerHTML">
    <em>Loading...</em>
</p>
